h1{
  font-family: Avenir;
  color: white;
  font-size: 60px;
  background-color: #222;
  padding: 60px;}

h2{
  font-size: 40px;
  font-weight: bold;
}

h3{
  font-size: 20px;
}

h5{
  font-size:40px;
  color: #DA000D;
  text-align: center;
  border-top: 1px solid grey;
  padding-top: 10px
}

h6{
  font-size: 12px;
  color: white;
  background-color: #DA000D;
  width: 150px;
  padding: 5px;
  letter-spacing:2px
}

body{
  margin: 30px;
  font-family:Avenir;
}

p{
  margin: 0px;
}

.top-container{
  background-color:;
  display: flex;
  justify-content:center;
  align-items:center;
  margin: 20px
}

.topp-puff  img {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0px;
  padding-right:40px;
  position:relative;
  width: 100%;
  height: 100%;
}
.copy{
  position: absolute;
top: 89px;
left: 100px;
}

.toppen{
  position: relative;
}

.topp-puff p{
width: 60%;
}

.topp-puff h2{
width: 60%;
}

.Grey-background {
  background-color: #f2f2f2;
}

.puff-2 {
padding-left: 10px;
padding-right:10px;
}

.puff-2 img{
  width: 100%;
  height: 100%;
}

.bildbehållare-stor-1{

}

.source{
  color: grey;
  font-size: 15px;
  padding-top: 5px;
}

.time{
color:grey;
font-size: 15px;
padding-top: 5px;
}


.container {
 /*flexbox*/
  display: flex;
  justify-content: center;

 /*styling*/
  background: #eef1d3;
}

.item {
  /*flexbox to center content in boxes*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*styling*/
  width: 100px;
  height: 100px;
  margin: 20px;
  background: #a9a9ff;
}


.outer_container {
/*flexbox*/
 display: flex;
 align-items: top;
 justify-content: center;

/*styling*/
 background:#FFBFD9;
}

.img {
 width: 100%;
 margin: 100%;
 background: #a9a9ff;
}

.text-box {
 width: 400px;
 margin: 20px;
 background:;
}

@media (max-width: 600px) {
  h2{
    font-size: 20px;
    font-weight: black;
  }

  h5{
    font-size:20px;
}

.top-container{
  display: block;
  padding: 10px;
}

.topp-puff h2{
width: 100%;
}

.topp-puff p{
width: 100%;
}

}
